# Everything needed to develop

# The modular source code checker: pep8, pyflakes and co.
flake8==3.3.0

# A mature full-featured Python testing tool.
pytest==3.0.7

# Auto builds and tests distributions in multiple Python versions using virtualenvs.
tox==2.6.0

# Code coverage measurement.
coverage==4.3.4
